*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: greenyellow;
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    border: 1px solid;
}

.conteiner > nav{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border: 1px solid red;
}

article{
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: 1px solid;
    min-width: 100%;
}

nav strong{
    font-size: 1.5rem;
    background-color: bisque;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

article div{
    height: 100px;
    width: 100px;
    border: 1px solid;
    background-image: linear-gradient(to right, lightblue, green);
}